@{
    ViewBag.Title = "Acerca de";
}
<div id="content">
    <div class="container">
        <div class="hero-unit">
            <p>
                Aplicación desarrollada para la Asociación de Pequeños Productores de Banano Orgánico de Montenegro - 
                Valle del Chira - Sullana.
            
                Creditos:
                Armando Gonzales Cajes,
                Igor Campos Requena,
                Jesús Rodriguez Bure,

                </p>
            <p>
                <a class="btn btn-primary large" href="#">Ver mas &raquo;</a></p>
        </div>
    </div>
</div>
