@{
    ViewBag.Title = "Index";
}
<div id="content">
    <div class="container">
        <div class="hero-unit">
            <h1>@ViewBag.Message</h1>
            <p>
                Vision:<br />
                Implementar un Sistema de Información para el Soporte Administrativo ERP, integrado,
                en línea, seguro, oportuno, consistente y confiable, que permita el trabajo colaborativo
                de todo el personal de la CAJA de manera que esta sea más eficiente y rentable.</p>
            <p>
                <a class="btn btn-primary large" href="#">Ver mas &raquo;</a></p>
        </div>
        <div class="row">
            <div class="span5">
                <h2>
                    Logística</h2>
                <p>
                    Este modulo permitira gestionar todos los procesos Logisticos de la Entidad. Tales
                    como: Gestion de Adquisiciones de Bienes y/o Servicios, Almacenes, Pedidos.
                </p>
                <p>
                    <a class="btn" href="#">Ver mas &raquo;</a></p>
            </div>
            <div class="span5">
                <h2>
                    Producción</h2>
                <p>
                    Este modulo brindara las opciones de Gestion de Caja y Bancos, asi como permitir
                    el registro de pagos a proveedores.
                </p>
                <p>
                    <a class="btn" href="#">Ver mas &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
