<div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Usuario
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Perfil</a></li>
              <li class="divider"></li>
              <li><a href="#">Cerrar Sesión</a></li>
            </ul>
     </div>
@*
<li>
    @Html.ActionLink("Log On", "LogOn", "Account")
</li>*@
