@{int empacadoraId = ViewBag.empacadoraId;}
@using SIGAPPBOM.Servicio.Comun

<div class="btn-group">
    <a class="btn btn-mini" href="#"><i class="icon-cog"></i></a>
    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown" title="Acción">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Editar", new { empacadoraId = empacadoraId })"><i class="icon-list-alt"></i>  Editar</a></li>
        <li><a href="@Url.Action("Eliminar", new { empacadoraId = empacadoraId })"><i class="icon-trash"></i>  Eliminar</a></li> 
       
    </ul>
</div>
