@{int pedidoId = ViewBag.PedidoId;}
@using SIGAPPBOM.Logistica.Servicio.Comun
@model Estado
<div class="btn-group">
    <a class="btn btn-mini" href="#"><i class="icon-cog"></i></a>
    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown" title="Acción">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("DetallePedidoInsumos", new { id = pedidoId })"><i class="icon-list-alt"></i>  Detalle</a></li> 
        @switch (Model)
        {
            case Estado.PENDIENTE:
                <li><a href="@Url.Action("AtenderPedidoInsumos", new { id = pedidoId })"><i class="icon-share"></i>  Atender</a></li>
                <li><a href="@Url.Action("EliminarPedidoInsumos", new { id = pedidoId })"><i class="icon-trash"></i>  Eliminar</a></li>
                        break;
        }
    </ul>
</div>
